<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>This is the home page</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
             Quam nihil numquam quibusdam sequi doloribus reprehenderit vero
              consequuntur officiis quasi et iusto, molestias fugiat beatae,
               tenetur molestiae labore omnis reiciendis saepe,
             quae itaque voluptas! Nihil, cum. Alias doloremque magnam facilis debitis.</p>


             
    </div>
</body>
</html>